@model PGMCLIP.Models.Usuario
@{ Layout = "~/Views/Shared/_Layout-Login.cshtml"; }


<!DOCTYPE html>
<head>
    <title>Inicio de Sesión</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Sources/images/Typing-bro.png" alt="Imagen decorativa de una computadora" style="height:300px">
                </div>
                @using (Html.BeginForm())
                {
                    <form class="login100-form validate-form" id="inicioSesion">
                        <span class="login100-form-title">
                            <h1>Inicio de Sesión</h1>
                        </span>


                        <label for="usuario" class="txt2">Usuario</label>
                        <div class="wrap-input100 validate-input" data-validate="Usuario incorrecto">
                            @* POR QUÉ NO ANDA POFAVOOOO *@

                            @Html.TextBoxFor(model => model.usuario, htmlAttributes: new { @class = "input100 second", type = "text", @id = "usuario", name = "usuario", placeholder = "usuario", required = "required", oninvalid = "this.setCustomValidity('Ingrese un usuario')", oninput = "setCustomValidity('')" })

                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <label for="password" class="txt2">Contraseña</label>
                        <div class="wrap-input100 validate-input" data-validate="Contraseña incorrecta">
                            @Html.PasswordFor(model => model.password, htmlAttributes: new { @class = "input100", type = "password", @id = "password", name = "password", placeholder = "contraseña", required = "required", oninvalid = "this.setCustomValidity('Ingrese una contraseña')", oninput = "setCustomValidity('')" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <span class="focus-input100"></span>
                        <div class="container-login100-form-btn">
                            <input type="submit" class="login100-form-btn" value="Iniciar Sesión" :focus>
                        </div>



                        <div class="text-center p-t-50">
                            <a class="txt1" href="# title="Registro de usuario nuevo" aria-label="Registro de usuario">
                                @Html.ActionLink("Acceder a la creación de un usuario nuevo", "RegistroUsuario", "Usuario")

                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/Sources/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Sources/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Sources/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Sources/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Sources/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Sources/js/main.js"></script>

</body>
</html>